.component-highlight-group {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 0;
  grid-template-columns: repeat(12, 1fr);
}
.component-highlight-group > div {
  border: 0.5rem solid transparent;
  box-sizing: border-box;
  grid-column: span 12;
  grid-row: span 12;
}
@media (min-width: 576px) {
  .component-highlight-group .component-highlight--size-m {
    grid-row: span 6;
  }
  .component-highlight-group .component-highlight--size-s {
    grid-column: span 6;
    grid-row: span 6;
  }
}
@media (min-width: 768px) {
  .component-highlight-group .component-highlight--size-l {
    grid-column: span 6;
  }
  .component-highlight-group .component-highlight--size-m {
    grid-column: span 6;
  }
  .component-highlight-group .component-highlight--size-s {
    grid-column: span 4;
  }
}
@media (min-width: 992px) {
  .component-highlight-group .component-highlight--size-s {
    grid-column: span 3;
  }
}
