/* ==========================================================================
	BLOCK Page Title
	===========================================================================
	Project: Citius Theme
	File: page-title.block.css
	Description: Styling for Page Title block.
	========================================================================== */

#block-citius-page-title {
  background-color: var(--c-neutral-lightest);
  border-bottom: 1px solid var(--c-neutral-light);
  padding-block: var(--spacing-md);
  padding-inline: var(--spacing-lg);
}

#block-citius-page-title h1 {
  margin-block: 0;
	word-break: break-all;
}
