.ddev/.global_commands/
.ddev/.webimageBuild/
.ddev/db_snapshots/
.ddev/.downloads/

vendor/
node_modules/

web/sites/default/files/
web/sites/default/private/
web/sites/default/settings.local.php
web/sites/default/services.local.yml

.env
*.sql
*.sql.gz
*.zip
*.tar
*.tar.gz

.vscode-server/
