/* ==========================================================================
   VIDEO
   ===========================================================================
   Project: Citius Theme
   File: video.sdc.css
   Description: Defines video styling.
   ========================================================================== */

.component-video iframe {
  width: 100%;
}
