/* ==========================================================================
   PROPERTIES
   ===========================================================================
   Project: Citius Theme
   File: properties.css
   Description: Defines css properties.
   ========================================================================== */

@property --ring-offset-color {
  syntax: "*";
  inherits: false;
  initial-value: #fff;
}

@property --inset-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --inset-ring-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}
