{#
/**
 * @file
 * Template for a dropdown menu component.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link URL, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
 *
#}
{% set dropdown_menu_attributes = attributes ?: create_attribute() %}
{%
  set dropdown_menu_classes = [
    'dropdown-menu',
  ]
%}

<div {{ dropdown_menu_attributes.addClass(dropdown_menu_classes) }}>
  <a href="javascript:void(0)" class="dropdown-menu__link" aria-expanded="false">
    {% block item_link %}{% endblock %}
  </a>
  <div class="dropdown-menu__items">
    {% include 'citius:nav' %}
  </div>
</div>
